{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
    <a  type="button" class="btn btn-outline-dark" href="{{ path('app_user_show', {'id': app.user.id}) }}">Mon compte</i></a>
    <a  type="button" class="btn btn-outline-warning" href="{{ path('app_partie_new') }}">Creer une partie</i></a>
    {% endif %}
    <barre-navigation></barre-navigation>
    <personnages-page></personnages-page>
    

{% endblock %}

