{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
<!-- <register-page></register-page> -->
<div class="main-body-register">
    {{ form_start(registrationForm) }}
    <div class="rotate-circle"></div>
    <div class="main-div-register">
      <div class="email-register-div">
        {{ form_row(registrationForm.email,  {'attr': {'class': 'input-email'}}) }}
      </div>
      <div class="password-register-div">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        },  {'attr': {'class': 'input-password'}}) }}
        </div>
        <div class="submit-register-div">
        <button type="submit" class="btn">Register</button>
        </div>
    </div>
    {{ form_end(registrationForm, {'attr': {'class': 'submit-form'}}) }}
    </div>
{% endblock %}
