.banniereAmis{
    background-image: url('https://www.gamersdecide.com/sites/default/files/authors/u151777/aime_4.jpg');
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    button {
       // background-color: #281a00bf;
        font-family: "caudex-regular";
        color: white;
        //border: 1px solid #dfab2a;
       // border-radius: 4px;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 3rem;
        cursor: pointer;
        padding: 0.2rem;
        font-size: 18px;
        background: transparent;
        border: none !important;
      }
}
.barre{
    background-image: url('https://media.discordapp.net/attachments/968448853160386591/968923531259822120/Sans_titre-3.png');
    background-size: contain;
}

h1 {
    text-align: center;
    padding-top: 25px;
    color: #281a00bf;
    font-size: 5vh;
    margin: 0;

}
.form_style{
    text-align: center;
    b{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3vh;
        color: #281a00bf;
    }
}

#recherche_amis_pseudo{
    width: 25%;
    padding: 0.3rem;
    border: 1px solid #060606;
    color: #060606;
    font-family: "caudex-regular";
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    display: inline;
    
}
form[name='recherche_amis']{
    
    div{
        display: inline;
        label{
            visibility: collapse;
        }
    }
}
.friend-content{
    display: flex;
   // flex-direction: column;
    justify-content: center;
    align-items: center;
     text-align: center;
    padding: 3%;
    .ResultAllFriend{
        display: inline;
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        //margin: 3rem 0rem;
        border: 1px solid #00000028;;
        width: 10%;
    // text-align: center;
        padding: 10px;
        margin: auto;
        border-radius: 8px;
        //font-size: 3.3vh;
        text-align: left;
        @include grid;
        b{
            font-size: 19px;
        }
        .deletFriend{
            float: right;
            background: transparent;
            border: none !important;
            //padding: 2px;
           // background-color: #f10606bf;
           // color: white;
           // border: 1px solid #000000;
            cursor: pointer;
            //border-radius: 5px;
            img{
                width: 20px;
            }
        }
        
    }

}
.resultJoueur{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.ResultFriend{
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    //margin: 3rem 0rem;
    //border: 1px solid #000000;;
    width: 50%;
   // text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    font-size: 3.3vh;
    text-align: left;
    @include grid;
    .noneJoueur{
        text-align: center;
        .error{
            color: red;
            font-weight: bold;
        }
        .resultJoueur{
            color: red;
            font-size: 16px;
        }
    }
    
    .alreadyFriend{
        display: inline;
        .resultJoueur{
            display: inline;
            button{
                float : right;
                margin-top: 0px;
                cursor: not-allowed;
                background-color: #169416bf;
                border: 1px solid #088326;
                border-radius: 5px;
                padding:6px
                //background-color:green;
            }
        }
    }
    b{
        display: inline;
    }
    
    .resultJoueur{
        display: inline;
        .btnAddFriend{
            background-color: #554330;
            border: 1px solid #18130f;
            padding: 8px;
            border-radius: 8px;
            text-decoration: none;
            margin: 0;
            padding: auto;
            display: inline;
            margin-left: 20px;
            float: right;
            img{
                padding-top: 5px;
            }
        }
    }
}