.ResultFriend{
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    //margin: 3rem 0rem;
    //border: 1px solid #000000;;
    width: 20%;
   // text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    font-size: 3.3vh;
    text-align: left;
    @include grid;
    b{
        display: inline;
    }
    
    .resultJoueur{
        display: inline;
        .btnAddFriend{
            background-color: #554330;
            border: 1px solid #18130f;
            text-decoration: none;
            margin: 0;
            padding: auto;
            display: inline;
            margin-left: 20px;
            float: right;
            img{
                padding-top: 5px;
            }
        }
    }
}