*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  
}

//style composant
@import '/assets/styles/components/Navbar.scss';
@import './components/Register';
@import './components/Inscription';
@import './fonts/fonts';
@import '/assets/styles/components/Fond-Ecran.scss';
@import '/assets/styles/components/Regles.scss';
