@import "~bootstrap/scss/bootstrap";

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    margin: 0;
    padding: 0
}
@mixin grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
}
//style composant
@import '/assets/styles/components/Navbar.scss';
@import './components/Register';
@import './components/Inscription';
@import './fonts/fonts';
@import '/assets/styles/components/Fond-Ecran.scss';
@import '/assets/styles/components/Regles.scss';
@import './components/Personnages';
