
{{ form_start(form, { 'attr' : {'id': 'personnageForm'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-dark justify-content-center">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
