{% extends 'base.html.twig' %}

{% block title %}Nouveau Personnage{% endblock %}

{% block body %}

    <div class="col" >
        <h1>Créer votre Personnage</h1>
        <div class="d-flex flex-row justify-content-center">
            {{ include('personnage/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
