{% extends 'base.html.twig' %}

{% block title %}New Partie{% endblock %}

{% block body %}
    <h1>Nouvelle partie</h1>
      <div class="d-flex justify-content-center">  
        {{ include('partie/_form.html.twig') }}
      </div>

{% endblock %}
